<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <title><%= item.name %></title>

  <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
  <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
  <link rel="stylesheet" href="/styles/main.css" type="text/css" />
  <link rel="stylesheet" href="/styles/layout.css" type="text/css" />

  <link rel="stylesheet" href="/styles/nav.css" type="text/css" />
  <link rel="stylesheet" href="/styles/items.css" type="text/css" />
  <link rel="stylesheet" href="/styles/fonts.css" type="text/css" />

  <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
  <script type="text/javascript" src="/scripts/app.js"></script>
</head>

<body>
  <%- include('partials/_header') %>
    <!-- display item page -->
    <main class="item-page">
      <h1><%= item.name %></h1>
      <img src="<%= item.photo_url %>"
        alt="item photo">
      <div id="item-description"><p><%= item.description %></p></div>
      <h3>Price: $<%= item.price %></h3>

      <form class="msg-seller" action="/conversation" method="POST">
        <label for="first-msg">Send Messaging to Seller</label>
        <br>
        <input type="text" id="first-msg" name="first-msg" value="I'd love to buy your item!">

        <br>

        <input type="submit" value="Submit">
      </form>
      <form class="favourite" action="/favourite" method="POST">
        <label for="fav">Favourite?</label>
        <input type="submit" value="Submit">
      </form>
    </main>
</body>

</html>
